@font-face {
    font-family: 'sans-serif', cursive;
    font-style: normal;
    font-weight: normal;


}
h1{
    font-family: "Lucida Console", "Courier New", monospace;
    color: #000202;
}
